* {
  font-family: serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.landing-page {
  background-image: url("bg.jpg");
  background-size: cover;
  padding: 2.5rem 0 2.5rem 0;
  color: white;
 
}
.landing-page .row1 .col1{
  max-height: 100vh;
  background-color: orange;
}
.landing-page .music {
   height: 80px;
  width: 80px;
  border: 1px solid rgb(68, 68, 68);
    border-radius: 50%;
}
.landing-page .music i {
  font-size: 1.8rem;
}
.row-gap{
  gap:2rem
}
.landing-page .row1 .colm{
  padding: 20px 0px;
  background-color: rgb(41, 40, 40);
  max-height: 100vh;
}


.landing-page .colm .col2 hr {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 3px;
  background-color:orange;
  border: none;
}
.landing-page  .colm .col3 .hr-line {
  border-bottom: 1px solid rgb(245, 171, 33);
}

/*  */

.landing-page .row2 .col1{
  text-align: right;
}
.landing-page .row2 .col1 h1{
 font-weight: 900;
 font-size: 6rem;
}
.landing-page .row2 .col2 input{
 background-color: transparent;
 padding: 12px 20px;
 color: white;
 border-radius: 2px solid white;
 }




/*  */
.nav {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;
  color: white;
}
/* .nav .search-container form {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.nav .search-container input[type="text"] {
  padding: 6px;
  background-color: transparent;
  color: white;
  border: 1px solid grey;
  width: 200px;
  outline: none;
  font-size: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.nav .search-container button {
  border: none;
  background-color: transparent;
  margin-left: -50px;
  cursor: pointer;
  outline: none;
}

.nav .search-container button i {
  color: white;
  font-size: 18px;
  padding: 10px;
}
.nav .bar i {
  font-size: 28px;
}
/* navbar css ended */

/* first page css started */

.homepage1 {
  background-image: url("b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 40px 0px 40px 0;
  margin: auto;
}
.homepage1 h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
}
.homepage1 .line1 {
  width: 25%;
  margin: auto;
  border: 6px solid white;
  margin-bottom: 3rem;
}
.homepage1 .col1 {
  color: white;
  padding: 3rem;
  width: 31%;
  text-align: center;
  border: 2.5px solid yellow;
}
.homepage1 .col2 {
  color: white;
  width: 31%;
  padding: 3rem;
  text-align: center;

  border: 2.5px solid rgb(64, 163, 228);
}
.homepage1 .col3 {
  color: white;
  padding: 3rem;
  width: 31%;
  border: 2.5px solid rgb(1, 28, 63);
}

.homepage1 .col1 .icon {
  /* display: flex;
  justify-content: center; */

  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  background-color: orange;
  margin-bottom: 2rem;
}
.homepage1 .col2 .icon {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  background-color: skyblue;
  margin-bottom: 2rem;
}
.homepage1 .col3 .icon {
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  background-color: rgb(47, 74, 85);
  margin-bottom: 2rem;
}
.homepage1 .icon i {
  font-size: 2rem;
}
/* first-page css ended  */

/* second page css started */
.headline-page{
  background-color: rgb(41, 40, 40);
  /* padding-top: 50px;
  padding-bottom: 50px; */
  color: white;
}

.icon {

  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
  background-color: orange;
  margin-bottom: 2rem;
}
/* .headline-page .row1{
   padding-top: 50px;
padding-bottom: 50px;
} */

.card-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;    /* crop to fill */
  border-radius: 8px;
  flex-shrink: 0;
  display: block;
  border: 1px solid rgba(0,0,0,0.04);
}

/* smaller avatars on narrow screens */
@media (max-width: 767px) {
  .card-avatar {
    width: 84px;
    height: 84px;
  }
}

/* ensure general images keep responsive behaviour except avatars */
img:not(.card-avatar) {
  max-width: 100%;
  height: auto;
  display: block;
}